[Unit]
Description=MQTT Broker 
After=multi-user.target

[Service]
user=user
Type=simple
ExecStart=/etc/mosquitto/./broker.exp

[Install]
WantedBy=multi-user.target