[Unit]
Description=MQTT subscriber client
After=multi-user.target

[Service]
user=user
Type=simple
ExecStart=/etc/mqtt/./sub_script.exp

[Install]
WantedBy=multi-user.target